body {
    background-color: #eee;
    font-family: "Montserrat", sans-serif;
}

.card {
    border: none;
    border-radius: 10px
}

.card-text {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;

}

button {
  
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1rem !important;
    }
}
@media (min-width: 0){
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0){
    .g-pa-30 {
        padding: 2rem !important;
    }
}

.g-bg-secondary {
    background-color: #fafafa !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 1rem !important;
}

.media-comment {
    margin-top:15px
}

#avatar{
    float: left;
    margin-right: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

